Demo.BL/obj/
.vs/Demo/
Demo.DAL/obj/
Demo.Db/obj/
Demo.WinForm/obj/
packages/
Demo.WebApi/obj/
Demo.WebApi/bin/
thirdparty/
.vs/
Demo.DAL.Test/bin/
Demo.DAL.Test/obj/
Demo.DAL/bin/
Demo.BL.Test/bin/
Demo.BL.Test/obj/
Demo.BL/bin/Debug/Demo.BL.pdb
Demo.BL/bin/
